:root {
    --font-size: 1.1rem;
    --font-family: sans-serif;
    --header-font-family: var(--font-family);
    --mono-font-family: monospace;
    --border-radius: 0.4rem;
    --button-border-radius: var(--border-radius);
    --search-border-radius: var(--border-radius);
    --spacing: 0.6rem;
    --dm-bg-color: #0e0e18;
    --dm-bg2-color: #2f3240;
    --dm-fg-color: #9abc47;
    --dm-primary-color: #176ab8;
    --dm-secondary-color: #2cb1ff;
    --dm-success-color: #3bf589;
    --dm-warning-color: #f5c33b;
    --dm-error-color: #f53b3b;
    --dm-border-color: var(--dm-fg-color);
    --dm-font-color: #ddd;
    --dm-alt-font-color: #000;
    --dm-check-color: var(--dm-font-color);
    --dm-hover-brightness: 130%;
    --dm-alt-hover-brightness: 130%;
    --lm-bg-color: #fff;
    --lm-bg2-color: #fafafa;
    --lm-fg-color: #ddd;
    --lm-primary-color: #6969ff;
    --lm-secondary-color: #2cb1ff;
    --lm-success-color: #3bf589;
    --lm-warning-color: #f5c33b;
    --lm-error-color: #f53b3b;
    --lm-border-color: var(--lm-fg-color);
    --lm-font-color: #000;
    --lm-alt-font-color: var(--lm-font-color);
    --lm-check-color: var(--lm-bg-color);
    --lm-hover-brightness: 110%;
    --lm-alt-hover-brightness: 130%;
  }